<div class="container">
  <div class="row">
    <div class="col mt-4 mb-3 fondo" style="text-align: center;">
      <h3>Aplicación de Hospitales para Digital Harbor</h3> 
    </div>
  </div>
  <div class="row">
    <div class="col mr-4 fondo">
      <router-outlet></router-outlet>
    </div>
    <div class="col-3 fondo">
      <button (click)="paginaActiva='lista-hospitales'" [disabled]="paginaActiva=='lista-hospitales'"
        [routerLink]="['/lista-hospitales']" class="btn btn-primary btn-lg">
        <i class="icon-hospital"></i>
        Hospitales
      </button>
      <button (click)="paginaActiva='lista-doctores'" [disabled]="paginaActiva=='lista-doctores'"
        [routerLink]="['/lista-doctores']" class="btn btn-primary btn-lg">
        <i class="icon-user-md"></i>
        Doctores
      </button>
      <button (click)="paginaActiva='lista-pacientes'" [disabled]="paginaActiva=='lista-pacientes'" 
        [routerLink]="['/lista-pacientes']" class="btn btn-primary btn-lg">
        <i class="icon-user"></i>
        Pacientes
      </button>
      <button (click)="paginaActiva='lista-especialidades'" [disabled]="paginaActiva=='lista-especialidades'"  
        [routerLink]="['/lista-especialidades']" class="btn btn-primary btn-lg mb-3">
        <i class="icon-sitemap"></i>
        Especialidades
      </button>
    </div>
  </div>
</div>