<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card mt-3">
            <div class="card-body subtitulo">
                <h4>Paciente: {{ paciente.nombre }} {{ paciente.apellido }}</h4>
            </div>
        </div>
    </div>
</div>
<div class="rowanimated fadeIn">
    <div class="col-12 p-0">
        <div class="card mb-2 mt-1">
            <div class="card-body">
                <div class="text-right">
                    <button (click)="crearNota()" type="button" title="Crear Registro"
                        class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="icon-plus"></i>
                        Crear Nota 
                    </button>
                </div>
                <h3 class="card-title color-titulo">
                    Historial
                </h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Descripción</th>
                            <th>Doctor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="
                  let nota of notas
                    | paginate: { itemsPerPage: 5, currentPage: pagina }">
                            <td>
                                {{ nota.fecha | date: 'MM/dd/yyyy' }}
                            </td>
                            <td>
                                {{ nota.descripcion }}
                            </td>
                            <td>
                                {{ nota.nombreDoctor }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="pagina = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>